#registry=https://packages.aliyun.com/60ab6f7b2c5969c370c58c11/npm/npm-registry
registry=https://registry.npmmirror.com/
# electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
# electron_custom_dir={{ version }}
# electron_mirror=https://cdn.npmmirror.com/binaries/electron/v
